In [1]:
# try to get 500 random coordinates #

In [25]:
import pandas as pd
import numpy

In [26]:
coords=pd.read_csv("resources/worldcitiespop.csv")
coords.head()

C:\Users\TIM\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Country        City  AccentCity Region  Population   Latitude  Longitude
0      ad       aixas       Aixàs      6         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali      6         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall      6         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall      6         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall      6         NaN  42.466667   1.483333

In [27]:
print(len(coords))

1048575

In [28]:
#drop duplicate values except the last one
ucoords=coords.drop_duplicates(['Latitude','Longitude']) #, keep='last')
ucoords=ucoords.drop(columns=['AccentCity', 'Region'])
ucoords.head()

   Country        City  Population   Latitude  Longitude
0       ad       aixas         NaN  42.483333   1.466667
1       ad  aixirivali         NaN  42.466667   1.500000
4       ad    aixovall         NaN  42.466667   1.483333
5       ad     andorra         NaN  42.500000   1.516667
11      ad   ansalonga         NaN  42.566667   1.516667

In [29]:
print(len(ucoords))

719528

In [30]:
ucoords.dtypes

Country        object
City           object
Population    float64
Latitude      float64
Longitude     float64
dtype: object

In [31]:
# get only the ucoords with >499 pop
#  df = df[df.line_race != 0]
ucoords = ucoords[ucoords.Population > .5]
ucoords.head()

      Country      City  Population   Latitude  Longitude
20         ad   canillo      3292.0  42.566667   1.600000
3784       af   andarab     27034.0  35.633484  69.260195
4547       af  asadabad     48400.0  34.873113  71.146970
11059      af    cah ab     23424.0  37.397734  69.814644
23231      af     farah     43574.0  32.374508  62.116383

In [32]:
print(len(ucoords))

9850

In [34]:
# sample 

scoords=ucoords.sample(n=500)
scoords.reset_index()

      index Country                    City  Population   Latitude   Longitude
0    347847      ca                fairview      3312.0  56.066667 -118.400000
1    290637      br           boa esperanca      9254.0 -18.550000  -40.283333
2    181354      ba                 lukavac     12607.0  44.541944   18.525833
3    953752      fr                  longwy     13971.0  49.519364    5.768815
4    729555      de         brand-erbisdorf     12098.0  50.866667   13.333333
5    738505      de             frankenberg     16819.0  50.916667   13.033333
6    300088      br                   girua     12170.0 -28.033333  -54.350000
7    798513      dk                 otterup      4522.0  55.515270   10.397562
8    315488      br             santo andre    662387.0 -23.666667  -46.516667
9    326791      br              tiradentes      4439.0 -21.116667  -44.183333
10   680481      co            puerto lopez     16678.0   4.084514  -72.955974
11   274466      bo              entre rios      2685.0 -21.533333  -64.200000
12   686869      cr                 liberia     45405.0  10.635039  -85.437720
13   349412      ca                  milton     23472.0  43.516667  -79.883333
14  1044083      gr               axioupoli      3368.0  40.983611   22.535000
15   955540      fr                   marly     11497.0  50.345561    3.549588
16   673167      co             la macarena      3466.0   2.183674  -73.784847
17   224319      be                 lebbeke     17372.0  51.000000    4.133333
18   348343      ca          harbour breton      1898.0  47.483333  -55.833333
19   978797      fr            valenciennes     42941.0  50.357065    3.527885
20   796108      dk                   horve      2382.0  55.752920   11.452976
21   389357      ch                 opfikon     13395.0  47.432553    8.580231
22   104889      am                   argel      2528.0  40.379444   44.599444
23   801214      dk                   vekso      1921.0  55.754734   12.238366
24   981736      fr          viry-chatillon     30479.0  48.672115    2.393179
25   937469      fr                grenoble    154853.0  45.171546    5.722387
26   387496      ch                buchrain      5802.0  47.086016    8.346213
27   683531      co               sotaquira      1352.0   5.764828  -73.247583
28   302231      br                ivaipora     23316.0 -24.250000  -51.750000
29   721922      cz                  zbysov      3925.0  49.130834   16.806276
30   312656      br               queimadas     10439.0 -10.966667  -39.633333
31   328304      br                   viana     26690.0  -3.216667  -45.000000
32   286082      br                   acari      9159.0  -6.516667  -36.633333
33   347836      ca                  exeter      4702.0  43.350000  -81.483333
34   989899      gb               chirnside      1176.0  55.800000   -2.200000
35   963512      fr                  plerin     12890.0  48.542494   -2.779835
36   736144      de                elsfleth      9286.0  53.233333    8.466667
37   734123      de                dreieich     41054.0  50.000000    8.700000
38   346876      ca              bow island      1792.0  49.866667 -111.366667
39   972201      fr  saint-medard-en-jalles     28405.0  44.896921   -0.721356
40   747636      de                  hilden     57036.0  51.166667    6.933333
41   330305      bw              nkoyaphiri      1578.0 -24.632222   25.831389
42   293899      br                  carire      5488.0  -3.950000  -40.450000
43   691152      cu               esperanza     10462.0  22.333333  -80.050000
44   350506      ca               sackville      2891.0  45.883333  -64.350000
45   665996      co            el guacamayo       428.0   6.245179  -73.496553
46   301328      br              indaiatuba    179914.0 -23.083333  -47.233333
47   350036      ca            plessisville      7186.0  46.216667  -71.766667
48   137487      at          deutsch-wagram      7153.0  48.299722   16.566667
49   146225      at                    retz      4139.0  48.750000   15.950000